<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.dao.meeting-mapper">
	<!-- 글쓰기 -->
	<!-- Sequence -->
	<insert id="meetingInsert" parameterType="Meeting">
		<selectKey keyProperty="m_no" resultType="int" order="BEFORE">
				SELECT NVL(MAX(m_no)+1,1) as m_no FROM meeting
		</selectKey>
		INSERT INTO meeting VALUES(#{m_no},#{m_lang1},#{m_lang2},#{m_lang1num},#{m_lang2num},
		#{m_title},#{m_summary},#{m_content},#{m_meetingDate},#{m_partDate},#{m_place},#{m_location},
		#{m_email},#{m_tel},0,0,#{m_filename},#{m_filesize})
	</insert>
	<!-- 글내용 -->
	<select id="meetingDetail" resultType="Meeting" parameterType="int">
		SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,
		m_meetingDate,m_partDate,m_location,m_email,m_tel,m_filename
		FROM meeting
		WHERE m_no=#{m_no}
	</select>
	<!-- 모임 참여 -->
	<insert id="meetingApply" parameterType="MeetingMember">
		<selectKey keyProperty="mm_no" resultType="int" order="BEFORE">
				SELECT NVL(MAX(mm_no)+1,1) as mm_no FROM meetingMember
		</selectKey>
		INSERT INTO meetingMember VALUES(#{mm_no},#{mm_mno},#{mm_email},#{mm_nickname},#{mm_lang},#{mm_sex})
	</insert>
	<!-- 모임 참가 리스트 -->
	<select id="mymeetingData" resultType="Meeting" parameterType="String">
	   
		SELECT m_title,m_partdate,m_end,m_no,Rownum as mu_no FROM meeting,
		meetingMember WHERE meetingMember.mm_email=#{mm_email} AND meetingMember.mm_no=meeting.m_no ORDER BY mu_no DESC
	</select> 
		<!-- 내모임갯수 -->
	<select id="mymeetingCount" resultType="int" parameterType="String">
	  SELECT COUNT(*) FROM meetingMember WHERE mm_email=#{mm_email}
	</select>
	<!-- 모임 찜 -->
	
	<insert id="meetingWish" parameterType="Wish">
		<selectKey keyProperty="w_no" resultType="int" order="BEFORE">
				SELECT NVL(MAX(w_no)+1,1) as w_no FROM wish
		</selectKey>
		INSERT INTO wish VALUES(#{w_no},#{w_mno},#{w_email})
	</insert>
	
 	<select id="wishCount" resultType="int" parameterType="Wish">
	SELECT COUNT(*) FROM wish WHERE w_mno=#{w_mno} AND w_email=#{w_email}
    </select> 
    
   <update id="meetingWishAdd" parameterType="int">
    UPDATE meeting SET m_wish=m_wish+1 WHERE m_no=#{m_no}
    </update>
    
      <select id="meetingTableListData2" resultType="Meeting">
 SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate,m_partDate,m_place,m_email,m_tel,m_end,m_wish
    FROM (SELECT  m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate,m_partDate,m_place,m_email,m_tel,m_end,m_wish
    FROM meeting) ORDER BY m_wish DESC
 </select> 
  
     <update id="meetingWishMinus" parameterType="int">
    UPDATE meeting SET m_wish=m_wish-1 WHERE m_no=#{m_no}
    </update>
   
   <delete id="mywishDel" parameterType="Wish">
    DELETE FROM wish WHERE w_mno=#{w_mno} AND w_email=#{w_email}
   </delete>
   
   
   <select id="mywishList" resultType="Meeting" parameterType="String">
   SELECT m_MeetingDate,m_Lang1,m_Lang2,m_Summary,m_title,m_content,m_no FROM wish,meeting WHERE w_email=#{w_email} AND m_no=w_mno
   </select>
    	<select id="mywishCount" resultType="int" parameterType="String">
	SELECT COUNT(*) FROM wish WHERE w_email=#{w_email}
    </select> 
</mapper>