<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.dao.meeting-mapper">
	<!-- 글쓰기 -->
	<!-- Sequence -->
	<insert id="meetingInsert" parameterType="Meeting">
		<selectKey keyProperty="m_no" resultType="int" order="BEFORE">
				SELECT NVL(MAX(m_no)+1,1) as m_no FROM meeting
		</selectKey>
		INSERT INTO meeting VALUES(#{m_no},#{m_lang1},#{m_lang2},#{m_lang1num},#{m_lang2num},
		#{m_title},#{m_summary},#{m_content},#{m_meetingDate},#{m_partDate},#{m_place},#{m_location},
		#{m_email},#{m_tel},0,#{m_filename},#{m_filesize})
	</insert>
	<!-- 글내용 -->
	<select id="meetingDetail" resultType="Meeting" parameterType="int">
		SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,
		m_meetingDate,m_partDate,m_location,m_email,m_tel,m_filename
		FROM meeting
		WHERE m_no=#{m_no}
	</select>
	
	<insert id="meetingWish" parameterType="Wish">
		<selectKey keyProperty="w_no" resultType="int" order="BEFORE">
				SELECT NVL(MAX(w_no)+1,1) as w_no FROM wish
		</selectKey>
		INSERT INTO wish VALUES(#{w_no},#{w_mno},#{w_email})
	</insert>
	
<!--  	<select id="meetingDetail" resultType="int" parameterType="Wish">
	SELECT COUNT(*) FROM wish WHERE w_mno=#{w_mno} AND w_email=#{w_email}
    </select> -->
	
<!-- 	<select id="zzimMeeting" resultType="Wish" parameterType="java.util.map">
   SELECT w_no,w_mno,w_email FROM wish 
    FROM meeting WHERE m_title LIKE '%'||#{word}||'%' ORDER BY m_no DESC
</select> -->

</mapper>