<?xml version="1.0" encoding="UTF-8"?>
<!-- 
     startDocument() : xml이 시작이 된다 
 -->
<beans>
<!-- startElement() -->
  <!-- main.do MainModel -->
  <bean id="main" class="com.model.MainModel"/>
  <!-- startElement() , endElement()-->
  <bean id="join" class="com.model.MemberJoinModel"/>
  <bean id="login" class="com.model.LoginModel"/>
  <bean id="login_check" class="com.model.LoginCheckModel"/>
  <bean id="logout" class="com.model.LogoutModel"/>
  <bean id="idcheck" class="com.model.IdCheckModel"></bean>
  <bean id="join_ok" class="com.model.JoinOkModel"/>	

  
  <!-- 마이페이지 (Mypage)  -->
  <bean id="meeting" class="com.model.MyMeetingModel"/>
  <bean id="wish" class="com.model.MyWishModel"/>
  <bean id="modify" class="com.model.MyModifyModel"/>
  <bean id="modify_ok" class="com.model.MyModify_OkModel"/>
  <bean id="gtable" class="com.model.GtableModel"/>	
  <bean id="search" class="com.model.SearchModel"/>	
 
  <!-- 모임 -->
  <bean id="meeting_insert" class="com.model.MeetingInsertModel"/>
  <bean id="meeting_insert_ok" class="com.model.MeetingInsertOkModel"/>
  <bean id="meeting_detail" class="com.model.MeetingDetailModel"/>
  <bean id="meeting_apply" class="com.model.MeetingApplyModel"/>
  <bean id="meeting_zzim" class="com.model.MeetingZzimModel"/>
  <bean id="meeting_type" class="com.model.MeetingForTypeModel"/>
  <bean id="meeting_place" class="com.model.MeetingForPlaceModel"/>
  <bean id="detailsearch_ok" class="com.model.DetailSearchModel"/>
  <bean id="typedetailsearch_ok" class="com.model.DetailSearchTypeModel"/>

   <!-- 분류  -->
  <bean id="language" class="com.model.LanguageListModel"/>
  <bean id="area" class="com.model.AreaListModel"/>

  <!-- 고객센터  -->
  <bean id="notice" class="com.model.Notice_BoardListModel"/>
  <bean id="qna" class="com.model.Qna_BoardListModel"/>
  <bean id="faq" class="com.model.Faq_BoardListModel"/>
  <bean id="notice_content" class="com.model.Notice_BoardContentDataModel"/>
  <bean id="qna_content" class="com.model.Qna_BoardContentDataModel"/>
  
  <bean id="faq_insert" class="com.model.Faq_InsertModel"/>
  <bean id="faq_insert_ok" class="com.model.Faq_InsertOkModel"/>
  <bean id="notice_insert" class="com.model.Notice_InsertModel"/>
  <bean id="notice_insert_ok" class="com.model.Notice_InsertOkModel"/>  
  <bean id="qna_insert" class="com.model.Qna_InsertModel"/>
  <bean id="qna_insert_ok" class="com.model.Qna_InsertOkModel"/>
  <bean id="n_search" class="com.model.Notice_SearchModel"/>	
  <bean id="f_search" class="com.model.Faq_SearchModel"/>		
   <bean id="f_delete" class="com.model.FaqDeleteModel"/>	
  <bean id="n_delete" class="com.model.NoticeDeleteModel"/>	

  
</beans>
  <!-- endElement() -->
  <!-- endDocument() -->