<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- PreparedStatement,ResultSet -->
<mapper namespace="com.member.dao.member-mapper">
    
    <select id = "memberIdCount" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM lmember WHERE email=#{email}
    </select>
    <select id = "memberGetInfo" resultType="Member" parameterType="String">
        SELECT pwd,nickname,name,nation,tel,lang,admin FROM lmember WHERE email=#{email}
    </select>
    
</mapper>

