<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- PreparedStatement,ResultSet -->
<mapper namespace="com.member.dao.member-mapper">
    
    <select id = "memberIdCount" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM lmember WHERE email=#{email}
    </select>
    <select id = "memberGetInfo" resultType="Member" parameterType="String">
        SELECT pwd,nickname,name,nation,tel,lang,admin,intro,sex FROM lmember WHERE email=#{email}
    </select>

<insert id="memberInsert" parameterType="Member">
    INSERT INTO Lmember VALUES(#{email},#{pwd},#{name},#{nickname},#{sex},#{age},
    	#{nation},#{tel},#{lang},#{intro},#{photo},#{admin})
</insert>

    <!-- 회원정보수정 -->
<!--     <select id="modifyselect" resultType="Member" parameterType="String"></select> -->
<update id="modifyupdate" parameterType="Member">
      UPDATE lmember SET pwd=#{pwd},nickname=#{nickname},tel=#{tel},lang=#{lang},intro=#{intro} 
      WHERE email=#{email}
</update>


<select id="gtableListData" resultType="Gtable">
    SELECT g_no,g_email,g_title,g_content,g_regdate 
    FROM g_table ORDER BY g_no DESC
</select>
 
  <select id="meetingTableListData" resultType="Meetingtable">
    SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate,m_partDate,m_place,m_location,m_email,m_tel,m_end
    FROM meeting ORDER BY m_no DESC
 </select> 

   <select id="daybydayMeetingData" resultType="Meetingtable" parameterType="String">
    SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate,m_partDate,m_place,m_location,m_email,m_tel,m_end
    FROM meeting WHERE m_partDate=#{m_partDate}
 </select> 
 
<select id="searchMeeting" resultType="Gtable" parameterType="String">
   SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate,m_partDate,m_place,m_location,m_email,m_tel,m_end
    FROM meeting WHERE m_title LIKE '%'||#{word}||'%' ORDER BY m_no DESC
</select>

</mapper>

