<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- PreparedStatement,ResultSet -->
<mapper namespace="com.member.dao.member-mapper">
    <select id = "memberIdCount" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM lmember WHERE email=#{email}
    </select>
    <select id = "memberGetInfo" resultType="Member" parameterType="String">
        SELECT email, pwd,nickname,name,nation,tel,lang,language,pname,admin,intro,sex FROM lmember WHERE email=#{email}
    </select>

<insert id="memberInsert" parameterType="Member">
    INSERT INTO Lmember VALUES(#{email},#{pwd},#{name},#{nickname},#{sex},#{age},
       #{nation},#{tel},#{lang},#{language},#{intro},#{pname},#{psize},#{admin})
</insert>

    <!-- 회원정보수정 -->
<!--     <select id="modifyselect" resultType="Member" parameterType="String"></select> -->
<update id="modifyupdate" parameterType="Member">
      UPDATE lmember SET pwd=#{pwd},nickname=#{nickname},tel=#{tel},lang=#{lang},intro=#{intro} 
      WHERE email=#{email}
</update>


<select id="gtableListData" resultType="Gtable">
    SELECT g_no,g_email,g_title,g_content,g_regdate 
    FROM g_table ORDER BY g_no DESC
</select>
 
  <select id="meetingTableListData" resultType="Meeting">
    SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,
    		m_meetingDate1,m_partDate1,m_place,m_location,m_email,m_tel,m_end 
			FROM meeting ORDER BY m_no DESC
 </select> 
<!-- 
   <select id="daybydayMeetingData" resultType="Meeting" parameterType="String">
    SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate,m_partDate,m_place,m_location,m_email,m_tel,m_end,m_wish
    FROM meetin WHERE m_partDate=#{m_partDate}
 </select> 
  -->
<select id="searchMeeting" resultType="Meeting" parameterType="String">
   SELECT m_no,m_email,m_title,m_partdate2 FROM meeting WHERE lang1 LIKE '%'||#{word}||'%' OR lang2 LIKE '%'||#{word}||'%' ORDER BY g_no DESC
</select>
<!-- 미팅 개설자 정보 -->
<select id="meetingOpenerData" resultType="Member" parameterType="String">
	SELECT email,nickname,tel FROM Lmember WHERE email=#{email}
</select>
<!-- 모임 참여 등록용 -->
<select id="meetingMemberData" resultType="Member" parameterType="String">
	SELECT nickname,lang,sex FROM Lmember WHERE email=#{email}
</select>

<select id="MeetingType" resultType="Meeting" parameterType="String">
   SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
    FROM meeting WHERE m_lang1 LIKE '%'||#{lang}||'%' ORDER BY m_no DESC
</select>

<select id="MeetingTypeCount" resultType="int" parameterType="String">
   SELECT COUNT(*) FROM (SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
    FROM meeting WHERE m_lang1 LIKE '%'||#{lang}||'%' ORDER BY m_no DESC)
</select>

<select id="MeetingTypePlace" resultType="Meeting" parameterType="String">
   SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
    FROM meeting WHERE m_place LIKE '%'||#{place}||'%' ORDER BY m_no DESC
</select>

<select id="MeetingTypePlaceCount" resultType="int" parameterType="String">
  	SELECT COUNT(*) FROM (SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
    FROM meeting WHERE m_place LIKE '%'||#{place}||'%' ORDER BY m_no DESC)
</select>

<select id="DetailSearchForPlace" resultType="Meeting" parameterType="Meeting">
	SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
	FROM (SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
	FROM (SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
	FROM meeting WHERE m_location LIKE '%'||#{m_location}||'%') WHERE m_place LIKE '%'||#{m_place}||'%') WHERE m_lang1 LIKE '%'||#{m_lang1}||'%' ORDER BY m_no DESC
</select>

<select id="DetailSearchForPlaceCount" resultType="int" parameterType="Meeting">
	SELECT COUNT(*) FROM (SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
	FROM (SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
	FROM (SELECT m_no,m_lang1,m_lang2,m_lang1num,m_lang2num,m_title,m_summary,m_content,m_meetingDate1,m_meetingDate2,m_partDate1,m_partDate2,m_place,m_location,m_email,m_tel,m_end,m_wish
	FROM meeting WHERE m_location LIKE '%'||#{m_location}||'%') WHERE m_place LIKE '%'||#{m_place}||'%') WHERE m_lang1 LIKE '%'||#{m_lang1}||'%' OR m_lang2 LIKE '%'||#{m_lang1}||'%' ORDER BY m_no DESC)
</select>

</mapper>

