td,th{
	color: rgb(102, 102, 102);
    font-family: 占쏙옙占쏙옙占쏙옙占�, 'Malgun Gothic', 占쏙옙占쏙옙占쏙옙占�, 'Nanum Gothic', 占쏙옙占쏙옙, dotum, AppleGothic, sans-serif;
    font-size: 13.3333px;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration: underline;
	color: green;
} 

 h2{color:#333;font-size:30px;text-align:center;line-height:34px;font-weight:normal;margin-bottom:32px;}
  h2 span{font-size:12px;color:#888;display:block;line-height:12px;padding-top:10px;}

/* qna */

.communityCover{position:relative;width:970px;}
    
 .menu_list{display:inline-block;width:100%;margin-bottom:20px; margin-left:-40px;}
 .menu_list li{float:left;padding-bottom:8px;text-align:center;display:inline;}
 .menu_list li.on{background:url('../images/common/bg_arrow_green.png') no-repeat center bottom}
 .menu_list li a{display:block;background:#fff;height:48px;border:solid 1px #e4e2dd;border-left:none;line-height:50px;font-size:14px;}
 .menu_list li.on a{border-color:#1fb56c;background:#1fb56c;color:#fff;}
 .menu_list li:first-child a{border-left:solid 1px #e4e2dd;}
 .menu_list.type02 li{width:242.5px;}
 .menu_list.type02 li:first-child{width:242px;}
 .menu_list.type02 li.on{background:url('../images/common/bg_arrow_blue.png') no-repeat center bottom}
 .menu_list.type02 li.on a{border-color:#2281c0;background:#2281c0;}
 
 /* partnership꺼 **********************************************************/
 
 .board_view th{
  background-color: #e0e0e0;
  text-align: left;
   padding-left: 15px;
 }
 
  .board_view td{
  text-align: left;
   padding-left: 20px;
 }
 .board_view table{
	border-color: #ffffff;
}

/* white */
.btn_pack.white,.btn_pack.white *{height:35px;line-height:33px}
.btn_pack.white{background-position:left top;color:#5e5e5e;}
.btn_pack.white *{padding:0 20px 0 15px;background-position:right top;font-size:12px;color:#5e5e5e;}
